//盒子抖动动画 抖动动画
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
//文字滚动
@keyframes rowup {
    0% {
        transform:translateZ(0)
    }
    14.2% {
        transform:translate3d(0,-40px,0)
    }
    24.8% {
        transform:translate3d(0,-80px,0)
    }
    42.6% {
        transform:translate3d(0,-120px,0)
    }
    56.8% {
        transform:translate3d(0,-160px,0)
    }
    69% {
        transform:translate3d(0,-200px,0)
    }
    83.2% {
        transform:translate3d(0,-240px,0)
    }
    to {
        transform:translate3d(0,-240px,0)
    }
}


.md-bounce-enter-active {
    animation: bounce-in 300ms linear
}

.md-bounce-leave-active {
    animation: zoom-out 250ms linear
}

.md-zoom-enter,
.md-zoom-leave-to {
    opacity: .01;
    transform: scale(.75)
}

.md-zoom-enter-active {
    transition: all 300ms cubic-bezier(.215, .61, .355, 1)
}

.md-zoom-leave-active {
    transition: all 250ms linear
}

.md-punch-enter,
.md-punch-leave-to {
    opacity: .01;
    transform: scale(1.35)
}

.md-punch-enter-active {
    transition: all 300ms cubic-bezier(.215, .61, .355, 1)
}

.md-punch-leave-active {
    transition: all 250ms linear
}

.md-slide-up-enter,
.md-slide-up-leave-to {
    transform: translate3d(0, 100%, 0)
}

.md-slide-up-enter-active {
    transition: transform 300ms cubic-bezier(.165, .84, .44, 1)
}

.md-slide-up-leave-active {
    transition: transform 250ms cubic-bezier(.165, .84, .44, 1)
}

.md-slide-right-enter,
.md-slide-right-leave-to {
    transform: translate3d(-100%, 0, 0)
}

.md-slide-right-enter-active {
    transition: transform 300ms cubic-bezier(.165, .84, .44, 1)
}

.md-slide-right-leave-active {
    transition: transform 250ms cubic-bezier(.165, .84, .44, 1)
}

.md-slide-left-enter,
.md-slide-left-leave-to {
    transform: translate3d(100%, 0, 0)
}

.md-slide-left-enter-active {
    transition: transform 300ms cubic-bezier(.165, .84, .44, 1)
}

.md-slide-left-leave-active {
    transition: transform 250ms cubic-bezier(.165, .84, .44, 1)
}

.md-slide-down-enter,
.md-slide-down-leave-to {
    transform: translate3d(0, -100%, 0)
}

.md-slide-down-enter-active {
    transition: transform 300ms cubic-bezier(.165, .84, .44, 1)
}

.md-slide-down-leave-active {
    transition: transform 250ms cubic-bezier(.165, .84, .44, 1)
}

.md-fade-enter,
.md-fade-leave-to {
    opacity: .01
}

.md-fade-enter-active {
    transition: opacity 300ms cubic-bezier(.215, .61, .355, 1)
}

.md-fade-leave-active {
    transition: opacity 250ms linear
}

.md-fade-up-enter,
.md-fade-up-leave-to {
    opacity: .01;
    transform: translate3d(0, 20%, 0)
}

.md-fade-up-enter-active {
    transition: all 300ms cubic-bezier(.215, .61, .355, 1)
}

.md-fade-up-leave-active {
    transition: all 250ms linear
}

.md-fade-down-enter,
.md-fade-down-leave-to {
    opacity: .01;
    transform: translate3d(0, -20%, 0)
}

.md-fade-down-enter-active {
    transition: all 300ms cubic-bezier(.215, .61, .355, 1)
}

.md-fade-down-leave-active {
    transition: all 250ms linear
}

.md-fade-right-enter,
.md-fade-right-leave-to {
    opacity: .01;
    transform: translate3d(-20%, 0, 0)
}

.md-fade-right-enter-active {
    transition: all 300ms cubic-bezier(.215, .61, .355, 1)
}

.md-fade-right-leave-active {
    transition: all 250ms linear
}

.md-fade-left-enter,
.md-fade-left-leave-to {
    opacity: .01;
    transform: translate3d(20%, 0, 0)
}

.md-fade-left-enter-active {
    transition: all 300ms cubic-bezier(.215, .61, .355, 1)
}

.md-fade-left-leave-active {
    transition: all 250ms linear
}

.md-fly-enter-active {
    animation: fly-in 600ms;
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.md-fly-leave-active {
    animation: zoom-out 250ms
}

@-moz-keyframes fly-in {
    0% {
        opacity: .5;
        transform: scale(.5) translate3d(0, 50px, 0)
    }

    45% {
        opacity: 1;
        transform: scale(1.05) translate3d(0, -50px, 0)
    }

    100% {
        transform: scale(1) translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fly-in {
    0% {
        opacity: .5;
        transform: scale(.5) translate3d(0, 50px, 0)
    }

    45% {
        opacity: 1;
        transform: scale(1.05) translate3d(0, -50px, 0)
    }

    100% {
        transform: scale(1) translate3d(0, 0, 0)
    }
}

@-o-keyframes fly-in {
    0% {
        opacity: .5;
        transform: scale(.5) translate3d(0, 50px, 0)
    }

    45% {
        opacity: 1;
        transform: scale(1.05) translate3d(0, -50px, 0)
    }

    100% {
        transform: scale(1) translate3d(0, 0, 0)
    }
}

@keyframes fly-in {
    0% {
        opacity: .5;
        transform: scale(.5) translate3d(0, 50px, 0)
    }

    45% {
        opacity: 1;
        transform: scale(1.05) translate3d(0, -50px, 0)
    }

    100% {
        transform: scale(1) translate3d(0, 0, 0)
    }
}

@-moz-keyframes bounce-in {
    0% {
        transform: scale(.5)
    }

    45% {
        transform: scale(1.05)
    }

    80% {
        transform: scale(.95)
    }

    100% {
        transform: scale(1)
    }
}

@-webkit-keyframes bounce-in {
    0% {
        transform: scale(.5)
    }

    45% {
        transform: scale(1.05)
    }

    80% {
        transform: scale(.95)
    }

    100% {
        transform: scale(1)
    }
}

@-o-keyframes bounce-in {
    0% {
        transform: scale(.5)
    }

    45% {
        transform: scale(1.05)
    }

    80% {
        transform: scale(.95)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes bounce-in {
    0% {
        transform: scale(.5)
    }

    45% {
        transform: scale(1.05)
    }

    80% {
        transform: scale(.95)
    }

    100% {
        transform: scale(1)
    }
}

@-moz-keyframes zoom-out {
    to {
        opacity: .01;
        transform: scale(.75)
    }
}

@-webkit-keyframes zoom-out {
    to {
        opacity: .01;
        transform: scale(.75)
    }
}

@-o-keyframes zoom-out {
    to {
        opacity: .01;
        transform: scale(.75)
    }
}

@keyframes zoom-out {
    to {
        opacity: .01;
        transform: scale(.75)
    }
}
