// 主题
$txColor: #19ce60;
// 辅助
$helpColor: #05d6b4;
// 成功
$sucColor: #1DC779;
// 警告
$warnColor: #faad14;
// 错误提示
$errorColor: #ff4d4f;
// 价格
$priceColor: #CF4444;
// 边框
$borderColor: #dae1e6;
// 圆角
$borderRadius: 8px;
